node_modules/
dist/
.DS_Store
Thumbs.db
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

Server/bin/
Server/obj/
Server/.vs/
Server/.vscode/
Server/.idea/
Server.Test/bin/
Server.Test/obj/

UI/node_modules/
UI/dist/
UI/.vite/
UI/.eslintcache
UI/.turbo/
UI/.vscode/
UI/.idea/
UI/yarn-error.log
UI/pnpm-lock.yaml
UI/.npm/
UI/.turbo/

*.swp
*.swo